<ngx-scrolltop>
    <button ngxScrollTop mat-mini-fab class="gotop" style="border-radius: 10%;">
        <fa-icon [icon]="up"></fa-icon>
    </button>
</ngx-scrolltop>

<div id="mySidenav" class="sidenav">
    <a sticky href="mailto:ivanyang0606@gmail.com" class="gmail back-green"><fa-icon [icon]="mail_icon"></fa-icon>Gmail商業合作</a>
    <a sticky href="https://www.youtube.com/@marketingliveincode" class="youtube back-red"><fa-icon [icon]="youtube_icon"></fa-icon>Youtube訂閱</a>
    <a sticky href="https://github.com/rifleak74" class="github back-black"><fa-icon [icon]="github_icon"></fa-icon>Github程式碼</a>
    <a sticky href="https://medium.com/%E8%A1%8C%E9%8A%B7%E6%90%AC%E9%80%B2%E5%A4%A7%E7%A8%8B%E5%BC%8F" class="medium back-gray"><fa-icon [icon]="medium_icon"></fa-icon>Medium追蹤</a>
    <a sticky href="https://www.facebook.com/marketingliveincode" class="fb back-major-ten"><fa-icon [icon]="FB_icon"></fa-icon>FB粉絲團追蹤</a>
    <!-- <a sticky href="#" class="telegram back-blue-ten"><fa-icon [icon]="telegram_icon"></fa-icon>Telegram提問</a> -->
  </div>