* {
  box-sizing: border-box;
  margin: 0px;
  outline : 0 none ;
  padding : 0 ;
}

html {
  height: 100%;
}


body {
  /* height: 100%; */
  margin: 0;
  font-size: 15px;
  font-family: Microsoft JhengHei, DFKai-sb, Arial, '新細明體', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
}

table, th, td {
  border: 1px solid rgb(93,130,187);
}

main {
  margin: 0 0 20px 0;
}

footer {
  height: 50px;
  text-align: center;
  bottom: 0;
}


/*--- 背景顏色使用 ---*/
/* 藍色，主色系  */
.back-major-one, .md-h2 {background-color: rgb(93,130,187, 0.1)!important;}  
.back-major-three,.video-list {background-color: rgb(93,130,187, 0.3)!important;}  
.back-major-five {background-color: rgb(93,130,187, 0.5)!important;}  
.back-major-seven {background-color: rgb(93,130,187, 0.7)!important;}  
.back-major-nine {background-color: rgb(93,130,187, 0.9)!important;}  
.back-major-ten {background-color: rgb(93,130,187, 1);}  

/* 白色，背景淡色 */
.back-white-one {background-color: rgb(227,229,235, 0.1)!important;}  
.back-white-three {background-color: rgb(227,229,235, 0.3)!important;}  
.back-white-five {background-color: rgb(227,229,235, 0.5)!important;}  
.back-white-seven {background-color: rgb(227,229,235, 0.7)!important;}  
.back-white-nine {background-color: rgb(227,229,235, 0.9)!important;}  
.back-white-ten {background-color: rgb(227,229,235, 1)!important;}  

/* 深藍，單色 */
.back-blue-one {background-color: rgb(0,36,82, 0.1)!important;}  
.back-blue-three {background-color: rgb(0,36,82, 0.3)!important;}  
.back-blue-five {background-color: rgb(0,36,82, 0.5)!important;}  
.back-blue-seven {background-color: rgb(0,36,82, 0.7)!important;}  
.back-blue-nine {background-color: rgb(0,36,82, 0.9)!important;}  
.back-blue-ten {background-color: rgb(0,36,82, 1);}  

/* 黃色，醒目色 */
.back-yellow-one {background-color: rgb(218,162,27, 0.1)!important;}  
.back-yellow-three {background-color: rgb(218,162,27, 0.3)!important;}  
.back-yellow-five, .ask-btn:hover {background-color: rgb(218,162,27, 0.5)!important;}  
.back-yellow-seven {background-color: rgb(218,162,27, 0.7)!important;}  
.back-yellow-nine {background-color: rgb(218,162,27, 0.9)!important;}  
.back-yellow-ten {background-color: rgb(218,162,27, 1)!important;}  

/* 褐色，對比色 */
.back-blow-one {background-color: rgb(155,124,70, 0.1)!important;}  
.back-blow-three {background-color: rgb(155,124,70, 0.3)!important;}  
.back-blow-five {background-color: rgb(155,124,70, 0.5)!important;}  
.back-blow-seven {background-color: rgb(155,124,70, 0.7)!important;}  
.back-blow-nine {background-color: rgb(155,124,70, 0.9)!important;}  
.back-blow-ten, .dropdown-item:hover {background-color: rgb(155,124,70, 1)!important;}  

/* 其餘背景小配色 */
.back-green {background-color: rgb(4, 170, 109, 1);}
.back-red {background-color: rgb(244, 67, 54, 1);}
.back-gray {background-color: rgb(85, 85, 85, 1);}
.back-black {background-color: rgb(17, 17, 17, 1);}

/*--- 文字顏色使用 ---*/
.text-major {color: rgb(93,130,187)!important;} /* 藍色，主色系 */
.text-white {color: rgb(227,229,235)!important;} /* 白色，背景淡色*/
.text-blue, .mat-title {color: rgb(0,36,82)!important;} /* 深藍，單色*/
.text-yellow {color: rgb(218,162,27)!important;} /* 黃色，醒目色*/
.text-blow, .md-h3 {color: rgb(155,124,70)!important;} /* 褐色，對比色*/
.text-black {color: rgb(30,30,30)!important;} /* 黑色*/

/* 漸層背景，因此另外設定 */
.article-title-back {
  background: rgb(227,229,235); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(227,229,235,0.9) 0%, rgba(227,229,235,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(227,229,235,0.9) 0%,rgba(227,229,235,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(227,229,235,0.9) 0%,rgba(227,229,235,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e5eb', endColorstr='#e3e5eb',GradientType=0 ); /* IE6-9 */
  width: 100%;
}

.login_background {
  background-image: linear-gradient(to bottom, rgba(93,130,187, 1), rgba(255, 255, 255, 0)),url("../img/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --secondary: #5d82bb;
  --primary: #bb965d;
  --link-fg: #9db4d6;
  --accent: #ffffff;
  --header-color: #daa21b;
  --body-bg: #111111;
  --darkened-bg: #000000;
  --delete-button-bg: #f44336
  ;
}