<div class="container showblock">
    <div class="row back-yellow-one justify-content-center align-items-center rounded">
        <div class="col-sm-4 black-background">
            <img src="assets/images/about/Ivan.jpg" class="hero-img rounded">
        </div>
        <div class="col-sm-6 black-background">
            <div class="row">
                <div class="col-sm-2 color-block back-blue-ten"></div>
                <div class="col-sm-2 color-block back-major-ten"></div>
                <div class="col-sm-2 color-block back-major-seven"></div>
                <div class="col-sm-2 color-block back-blow-ten"></div>
                <div class="col-sm-2 color-block back-yellow-ten"></div>
                <div class="col-sm-2 color-block back-white-ten"></div>
            </div>
            <div class="row">
                <h2>行銷搬進大程式的初衷</h2>
                <h6>每個行銷人都能藉由程式，讓自己的價值極大化</h6>
                <p class="text-blue text">
                    有多少人對行銷的領域充滿憧憬，一個永遠走在市場前端的知識型產業，曾經是你我的目標，卻漸漸被社會的巨輪輾過。商管出身的Ivan，深知台灣行銷業界的不平等，充滿創意的文案卻在離職後才被公司採用，行銷人的價值究竟是什麼呢？</p>
                <p class="text-blue text">
                    行銷搬進大程式致力利用Python等資訊科技的力量，讓每個想要往前的生命，能爬上自己的高峰。<strong>相信我，你很有價值！</strong>
                </p>
            </div>


        </div>
    </div>

    <div class="row back-blow-one justify-content-center align-items-center rounded showblock row-block">
        <div class="col-sm-4 black-background">
            <div class="row">
                <div class="col-sm-2 color-block back-blow-ten"></div>
                <div class="col-sm-2 color-block back-blow-nine"></div>
                <div class="col-sm-2 color-block back-blow-seven"></div>
                <div class="col-sm-2 color-block back-blow-five"></div>
                <div class="col-sm-2 color-block back-blow-one"></div>
            </div>
            <div class="row">
                <h1>專案經驗</h1>
            </div>
        </div>
        <div class="col-sm-4 black-background">
            <div class="row"><img src="assets/images/about/5.jpg" class="hero-img rounded"></div>
            <div class="row">
                <h3>程式金融</h3>
            </div>
            <div class="row">
                <p class="text-blue text">利用公開資訊取得全台灣1600支股票價格，在與證券業務員合作後，加入選股策略的股票篩選，以及即時的到價提醒，並且建立回測系統，能以歷史數據回測選股策略。
                </p>
            </div>
        </div>
        <div class="col-sm-4 black-background">
            <div class="row">
                <h3>數據分析</h3>
            </div>
            <div class="row">
                <p class="text-blue text">知名雜誌理想品牌調查案　數據分析師<br>校務管理競爭者分析　數據分析師<br>電商熱門IP商品資料分析　數據分析師<br>電商運動內衣市場分析　數據分析師
                </p>
            </div>
            <div class="row"><img src="assets/images/about/class1.png" class="hero-img rounded"></div>
        </div>
    </div>

    <div class="row back-major-one justify-content-center align-items-center rounded showblock row-block">
        <h1 style="text-align: center;">職業講師</h1>
        <div class="row justify-content-center">
            <div class="col-sm-2 color-block back-major-ten"></div>
            <div class="col-sm-2 color-block back-major-nine"></div>
            <div class="col-sm-2 color-block back-major-seven"></div>
            <div class="col-sm-2 color-block back-major-five"></div>
            <div class="col-sm-2 color-block back-major-one"></div>
        </div>
        <div class="row text-center  text-white" style="--mdb-gutter-x:0;">
            <div *ngFor="let image of masonryImages; let recordIndex = index" class="col-sm-4 slide-container">
                <img [src]="image[1]" alt="Avatar" class="slide-image rounded">
                <div class="overlay rounded">
                    <div class="slide-text-title">{{image[0]}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row back-blue-seven justify-content-center align-items-center rounded showblock row-block text-white">
        <div class="col-sm-4 black-background">
            <div class="row"><img src="assets/images/about/book1.png" class="hero-img rounded"  style="width: 50%;"></div>
            <div class="row">
                <h5>STP行銷策略之Python商業應用實戰</h5>
                <p>網路爬蟲 x 機器學習 x 數據分析</p>
            </div>
        </div>
        <div class="col-sm-4 black-background">
            <div class="row">
                <h5>打造股市小秘書</h5>
                <p>聊天機器人 x 網路爬蟲 x NoSQLxPython整合應用實務</p>
            </div>
            <div class="row"><img src="assets/images/about/book2.png" class="hero-img rounded" style="width: 50%;"></div>
        </div>
        <div class="col-sm-4 black-background">
            <div class="row">
                <div class="col-sm-2 color-block back-white-ten"></div>
                <div class="col-sm-2 color-block back-white-nine"></div>
                <div class="col-sm-2 color-block back-white-seven"></div>
                <div class="col-sm-2 color-block back-white-five"></div>
                <div class="col-sm-2 color-block back-white-one"></div>
            </div>
            <div class="row">
                <h1>著作出版</h1>
            </div>
        </div>
    </div>

</div>