<div class="container-fluid text-center back-blue-nine text-white">
    <div class="justify-content-md-center">
        <a href="mailto:ivanyang0606@gmail.com" class="btn footsocial text-white"><fa-icon [icon]="mail_icon"></fa-icon></a>
        <a href="https://www.youtube.com/@marketingliveincode" class="btn footsocial text-white"><fa-icon [icon]="youtube_icon"></fa-icon></a>
        <a href="https://github.com/rifleak74" class="btn footsocial text-white"><fa-icon [icon]="github_icon"></fa-icon></a>
        <a href="https://medium.com/%E8%A1%8C%E9%8A%B7%E6%90%AC%E9%80%B2%E5%A4%A7%E7%A8%8B%E5%BC%8F" class="btn footsocial text-white"><fa-icon [icon]="medium_icon"></fa-icon></a>
        <a href="https://www.facebook.com/marketingliveincode" class="btn footsocial text-white"><fa-icon [icon]="FB_icon"></fa-icon></a>
        <!-- <a href="#" class="btn footsocial text-white"><fa-icon [icon]="telegram_icon"></fa-icon></a> -->
    </div>
    
    <div class="row text-center">
        <p>©2023 行銷搬進大程式 Marketing Live in Code</p>
    </div>
</div>